.container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 50px;
}

.card-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.containerBtn {
  margin-top: 100px;
}

h1 {
  text-align: center;
  font-size: 50px;
}

.welcome {
  margin-top: 20px;
}

p {
  margin: 20px;
  text-align: center;
}

.card {
  border-radius: 5px;
  width: 20%;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
  background-color: white;
}

.cardImg {
  border-radius: 5px 5px 0 0;
  width: 100%;
}

.card:hover {
  box-shadow: 5px 5px 5px 5px lightgray;
}

.nameContainer {
  padding: 2px 16px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: white;
  color: Black;
  padding: 10px 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  z-index: 1000;
}

.sticky h2 {
  margin: 0;
}

.menu-list {
  list-style-type: none;
  padding: 0;
}

.menu-point {
  margin-left: 20px;
  margin-top: 10px;
  color: black;
  text-decoration: none;
}

.menu-point:hover {
  text-decoration: underline;
  color: lightgray;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 60px;
  margin-left: 20px;
}

.cart-product-price:before {
  content: "€ ";
}

h2.cart-headline {
  font-weight: 100;
}

label {
  color: color-label;
}

.container-cart {
  margin-top: -45px;
}

.cart-product-title {
  margin-bottom: 20px;
  padding-bottom: 10px;
  border-bottom: 1px solid color-border;
}

.cart-product-price {
  font-family: font-bold;
}

.remove-btn {
  border: 0;
  padding: 4px 8px;
  background-color: #c66;
  color: #fff;
  font-family: font-bold;
  font-size: 12px;
  border-radius: 3px;
  position: absolute;
  bottom: 5px;
  right: 5px;
}

.remove-btn:hover {
  background-color: #a44;
}

.checkout-btn {
  float: right;
  border: 0;
  margin-top: 20px;
  padding: 6px 25px;
  background-color: #6b6;
  color: #fff;
  font-size: 25px;
  border-radius: 3px;
}

.checkout-btn:hover {
  background-color: #494;
}

.product-img {
  width: 100px;
  height: auto;
  float: left;
  margin-right: 10px;
}

.cart-product-container {
  background-color: #fff;
  border: 1px solid lightgray;
  padding: 10px;
  margin-bottom: 20px;
  position: relative;
  overflow: hidden;
}

.container-cart {
  background-color: #fff;
  padding: 30px;
  margin: 50px;
}

.cart-product-title,
.cart-product-price {
  margin-top: 0;
  margin-bottom: 5px;
  line-height: 1.2;
}

.product-detail {
  margin: 75px;
  width: 80%;
  height: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.product-detail-title {
  margin: 20px;
}

.product-detail-product {
  display: flex;
  flex-wrap: wrap;
  height: 80%;
  width: 80%;
  justify-content: space-around;
}

.product-detail-img {
  width: 400px;
  height: auto;
  margin-right: 10px;
}
